@model MedicalRecordSearchResult
@{
    Layout = null;
}
<p style="margin: 10px 0 10px 0">Có <strong>@Model.RowCount</strong> hoá đơn trong tổng số <strong>@Model.PageCount</strong> trang.</p>
<div>
<table class="table table-bordered">
    <thead>
        <tr class="bg-primary">
            <th class="text-center">Bệnh nhân</th>
            <th class="text-center">Nha sĩ</th>
            <th class="text-center">Chẩn đoán</th>
            <th class="text-center">Phương pháp điều trị</th>
            <th class="text-center">Ngày điều trị</th>
            <th class="text-center">Kết quả điều trị</th>
            <th class="text-center">Ngày hẹn tiếp theo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.MedicalRecords.Any())
        {
            foreach (var record in Model.MedicalRecords)
            {
                <tr>
                    <td>@record.Patient?.PatientName</td>
                    <td>@record.Dentist?.DentistName</td>
                    <td>@record.Diagnosis</td>
                    <td>@record.Treatment</td>
                    <td>@record.DateOfTreatment?.ToString("dd/MM/yyyy")</td>
                    <td>@record.TreatmentOutcome</td>
                    <td>@record.NextAppointmentDate?.ToString("dd/MM/yyyy")</td>
                    <td class="text-right">
                        <a class="btn btn-info btn-xs" href="~/MedicalRecord/Edit/@record.MedicalRecordId"><i class="fa fa-edit"></i></a>    
                        <a class="btn btn-info btn-xs" href="~/MedicalRecord/Details/@record.MedicalRecordId">
                            <i class="glyphicon glyphicon-list"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">Không tìm thấy hồ sơ nào.</td>
            </tr>
        }
    </tbody>
</table>
@if (Model.PageCount > 1)
{
    <div class="text-center">
        <ul class="pagination">
            @for (int p = 1; p <= Model.PageCount; p++)
            {
                if (Model.Page == p)
                {
                    <li class="active"><a href="#">@p</a></li>
                }
                else
                {
                    <li><a onclick="paginationSearch('#formSearch',@p)">@p</a></li>
                }
            }
        </ul>
    </div>
}
</div>